@model ChangePasswordModel

<h1>Change Password</h1>
<div class="col-md-8">
    <form asp-controller="User" asp-action="ChangePassword" method="post">
        <div class="form-group">
            <label asp-for="CurrentPassword"></label>
            <input asp-for="CurrentPassword" class="form-control" />
            <span asp-validation-for="CurrentPassword"></span>
        </div>
        <div class="form-group">
            <label asp-for="NewPassword"></label>
            <input asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmNewPassword"></label>
            <input asp-for="ConfirmNewPassword" class="form-control" />
            <span asp-validation-for="ConfirmNewPassword"></span>
        </div>
        <input type="submit" value="Submit Changes" class="btn btn-primary" />
    </form>
</div>